#wrapper {
    overflow-x: hidden;
 }

 #navbar{

  background: rgb(41, 37, 71);
}

#footer {
  padding: 2rem;
  width: 100%;
  z-index: 10;
  background: rgb(41, 37, 71);
}

hr{
  border-color: white;
  opacity: 100;
}

.likesDislikes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.carousel{
  width: 40vw;
  height: 40vh;
  position: relative;
  left: 280px;
}

#imgTitulo{
  width: 20%;
  height: 20%;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  display: block;
  width: 100%;
  height: 110%;
  padding: 10px;
  left: 30px;
  object-fit: cover;
  object-position: center;
}
.slide > video {
  display: block;
  width: 100%;
  height: 110%;
  padding: 10px;
  left: 30px;
  object-fit: cover;
  object-position: center;
}
.slide[data-active]{
  opacity: 1;
  z-index: 1;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus{
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
  outline: 1px solid black;
}

.carousel-button.prev{
  left: 1rem;
}

.carousel-button.next{
  right: 1rem;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.content {
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

.list-group-item:hover, .select{
  background-color: #aa66cc;
  color: black;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #noticia {
    min-width: 0;
    /*width: 100%; */
    width: 500px ;
    position: absolute;
    left: 500px; 
  }
  /* Se oculta sidebar */
  #wrapper.toggled #sidebar-wrapper { 
    margin-left: -15rem;
  }
}